* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, body, footer {
    margin: 0 auto;
    max-width: 35rem;
    padding: .5rem;
    color: black;
}

header {
    border-bottom: .1rem solid black;

}

form {
    padding: 1rem 3rem 1rem 3rem;
    margin: 1rem;
    background-color: rgba(135, 206, 250, 0.288);
    border: none;
    border-radius: .75rem;
    display: grid;
    row-gap: .5rem;
}

label {
    margin-top: 1rem;
    margin-bottom: .3rem;
}

input, textarea {
    padding: .5rem;
}

select {
    background-color: white;
    padding: .5rem;
}

button {
    padding: .5rem;
    margin-top: 1.5rem;
}

button:hover {
    background-color: rgba(166, 115, 214, 0.604);
}

footer {
    border-top: .1rem solid black;
    text-align: right;
}