* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, body, footer {
    margin: 0 auto;
    max-width: 30rem;
    padding: .5rem;
    color: black;
}

header {
    border-bottom: .1rem solid black;
}

form {
    padding: 1rem 3rem 1rem 3rem;
    margin: 1rem;
    background-color: rgba(135, 206, 250, 0.288);
    border: none;
    border-radius: 1rem;
    display: grid;
}

label {
    margin-top: 1rem;
    margin-bottom: .3rem;
}

input, textarea {
    padding: .5rem;
    margin: .25rem;
}

footer {
    border-top: .1rem solid black;
}

.twocolumns {
    display: flex;
    align-items: center;
}